/node_modules/
/.env
/src/tests/
/dist/
/.prod.env
./docker-compose*.yml
docker-compose.dev.yml
docker-compose.prod.yml
docker-compose.yml
docker-compose.backup.yml
./docker-compose.backup.yml
./docker-compose.dev.yml
./docker-compose.backup.yml
./docker-compose.backup.yml