version: "3"
services:
  nginx-container:
    image: nginx
    ports:
      - "8000:8000"
    volumes:
      - ./src/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - kepplr-node-service

  kepplr-node-service:
    #    ports:
    #      - "8000:8002"
    environment:
      - PORT=8000
    depends_on:
      - mongo-container

  mongo-container:
    image: mongo
    volumes:
      - mongo_db:/data/db
    ports:
      - "27017:27017"

  redisdb-container:
    image: redis
    volumes:
      - redis-data:/data
    ports:
      - "6379:6379"
  postgres-container:
    image: postgres:latest
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgres/data
    environment:
      - POSTGRES_USER=kepplr_development_user
      - POSTGRES_PASSWORD=kepplr_development_pwd
      - POSTGRES_DB=kepplr_development
      - POSTGRES_HOST_AUTH_METHOD=password
volumes:
  mongo_db:
  redis-data:
  postgres-data: