version: "3"
services:
  nginx-container:
    image: nginx
    ports:
      - "8000:8000"
    volumes:
      - ./src/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - kepplr-node-service

  kepplr-node-service:
    #    ports:
    #      - "8000:8002"
    environment:
      - PORT=8000
    depends_on:
      - mongo-container

  mongo-container:
    image: mongo
    volumes:
      - mongo_db:/data/db
    ports:
      - "27017:27017"

  redisdb-container:
    image: redis
    volumes:
      - redis-data:/data
    ports:
      - "6379:6379"


volumes:
  mongo_db:
  redis-data: